# Admin credentials
ADMIN_EMAIL=Ashish@thermopharm.in
ADMIN_PASSWORD=Ashish@1998

# Database
DATABASE_URL="file:./dev.db"

# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://uyxeltifxljqjnarvjvo.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_7CftadLXUi_kE9bUmd7g7g_-STnVB_M
