# Admin credentials
ADMIN_EMAIL=Ashish@thermopharm.in
ADMIN_PASSWORD=your_admin_password_here

# Database Connection (Supabase Postgres - Use Port 6543 for Vercel/Serverless IPv4 Compatibility)
DATABASE_URL="postgresql://postgres:your_db_password@db.uyxeltifxljqjnarvjvo.supabase.co:6543/postgres?pgbouncer=true"

# Supabase Config
SUPABASE_URL=https://uyxeltifxljqjnarvjvo.supabase.co
SUPABASE_PUBLISHABLE_KEY=your_supabase_publishable_key
SUPABASE_SECRET_KEY=your_supabase_secret_key
SUPABASE_JWKS_URL=https://uyxeltifxljqjnarvjvo.supabase.co/auth/v1/.well-known/jwks.json

NEXT_PUBLIC_SUPABASE_URL=https://uyxeltifxljqjnarvjvo.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=your_supabase_publishable_key

# Upstash Redis
UPSTASH_REDIS_REST_URL="https://select-teal-170118.upstash.io"
UPSTASH_REDIS_REST_TOKEN="your_upstash_redis_token"
